<section class="container">
    <header class="header d-flex">
        <h2 class="ff-inter">Meu Mural</h2>
        <button routerLink="/criar-pensamento" class="botao">Adicionar pensamento</button>
        <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
            <div *ngFor="let pensamento of listaPensamentos">
            <app-pensamento [pensamento]="pensamento"></app-pensamento>
            </div>
        </div>
    </header>
</section>
<app-botao-carregar-mais
    *ngIf="listaPensamentos.length === 10"
    (click)="carregarMaisPensamentos()"
    [haMaisPensamentos]="haMaisPensamentos"
>
</app-botao-carregar-mais>

<ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrado.</p>
  </div>
</ng-template>
